*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
}


.container{
	max-width: 100vw;
	height: 100vh;
	background-color: #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}
#nav{
	width: 100%;
	padding: 10px;
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
}
#nav h1{
font-family: 'Shizuru', cursive;
}
.links-style{
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
	list-style: none;
	position: absolute;
	margin-left: -55px;
	margin-top: 30px;
}
.links-style .link:hover{
	background-color: #FF6464;
}
.show-link-style{
	display: block;
	animation: animLinks 1s;
	transform: translateY(0px);
}


.links-style a{
	transition: 0.4s ease-in;
	display: inline-block;
	width: 130px;
	color: black;
	padding: 10px;
}
.links-style a.active{
	background-color: #FF6464;
}


@keyframes animLinks{
	from{
		transform: translateY(-10px);
	}
	to{
		transform: translateY(0);
	}
}


.selectStyle{
	position: relative;
	padding: 5px;
	display: flex;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
	background-color: #E0E0E0;
}
.boxContainer{
	position: absolute;
	z-index: 1;
	/*left: 0;
	bottom: 0;*/
}
.boxContainer .circle{
	padding: 10px;
	width: 150px;
	transition: 1s ease-in;
	/*animation: animatedCircle 1s infinite;
	animation-direction: alternate;*/
}

.categoryWrapperChild{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

.x, .y, .z{
	margin: 10px 0;
}
.s{
	transform: translate(10px, 100px);
}
.d{
	transform: translate(300px, 450px);
}
.t{
	transform: translate(60px, -300px);
}

/*@keyframes animatedCircle{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(-300px);
	}
}*/


.popUpAlert{
	position: absolute;
	width: 75%;
	border-radius: 10px;
	color: black;
	display: none;
	background-color: rgba(255, 255, 255, 0.86);
	z-index: 10000;
	justify-content: center;
	padding: 1em;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(20px);
}
.btn-w{
	margin: 5px 0;
}

#quotesBox{
	position: absolute;
	z-index: 2;
	background-color: rgba(0, 12, 20, 0.63);
	width: 50%;
	height: 400px;
	padding: 10px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	display: flex;
	color: white;
/*	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loadingWrapper{
	background-color: rgba(0, 12, 20, 0.53);
	backdrop-filter: blur(50px);
	display: none;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: inherit;
	position: absolute;
}
#quotesOutput{
	width: 10px;
}

.canvas-wrapper{
	z-index: 100;
	position: absolute;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	border: 2px solid black;
}
.canvas-wrapper img{
/*	width: 100%;
	height: 100%;*/
	display: none;
	object-fit: contain;
}
#canvas{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*#canvas{
	position: absolute;
	z-index: 1001;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: 1px solid black;
}*/


#quotesOutput{
	/*overflow: hidden;*/
	width: 75%;
	text-align: center;
		padding: 10px;
}
/*#quotesAuthor{
	padding: 10px;
}*/
.q-margin{
	margin: 5px 0;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-thumb{
	background: yellow;
}
textarea::-webkit-scrollbar-track{
	background-color: red;
}
textarea{
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 1.12em;
	color: white;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: none;
	outline: none;
	border: none;
}
.quotesShow{
	width: 400px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.btn-wrapper{
	width: 400px;
	display: flex;
	justify-content: center;
}
.btn-wrapper button{
	margin: 0 5px;
}
#copyQuotes{
	display: none;
}
.btn-ctg{
	display: inline-block;
	width: 100px;
	text-align: center;
	padding: 10px;
	margin: 5px 5px;
	font-size: 0.9em;
	text-shadow: none;
	background-color: #E0E0E0;
	transition: 0.4s ease-in-out;
	color: black;
}
.btn-ctg:hover{
		background-color: #FF6464;
}
button{
  width: 100px;
	padding: 5px;
	background-color: #E0E0E0;
	border-radius: 10px;
	transition: 0.4s ease-in-out;
	outline: none;
	border: none;
	cursor: pointer;
}
button:hover{
	background-color: #FF6464;
}

@media  (max-width: 767px) and (min-width: 320px){
	#quotesBox{
		min-width: 310px;
	}
}